.container {
    display:flex;
    justify-content: center;
}

.content {
    display: flex;
    padding: 60px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1205px;
}

.content li {
    list-style: none;
    margin-bottom: 8px;
}

.content ul {
    margin: 0;
    padding: 0;
}

.marginBottom {
    margin-bottom: 20px !important;
}

.imageContainer {
    border-radius: 100%;
    background-color: #6B8BA4;
    overflow: hidden;
    height: 375px;
    width: 375px;
    display: flex;
    justify-content: center;
}

.text {
    margin: 0;
    letter-spacing: 0.6px;
    line-height: 20px;
}

@media (max-width: 1340px) {
    .content :nth-child(1) { order: 1; }
    .content :nth-child(2) { order: 3; }
    .content :nth-child(3) { order: 4; }
    .content :nth-child(4) { order: 2; }
    .content :nth-child(5) { order: 5; }
    .content :nth-child(6) { order: 6; }
}

@media (max-width: 600px) {
    .content {
        padding: 20px;
        gap: 20px;
    }

    .imageContainer {
        height: 250px;
        width: 250px;
    }
}



