.container {
    background-color: #C8DCEA;
    width: 335px;
    border-radius: 15px;
    position: relative;
    padding: 45px 20px 30px 20px;
    box-shadow: 0 3px 12px rgba(44, 74, 106, 0.15);
}

.headerContainer {
    background-color: #6B8BA4;
    width: 200px;
    height: 45px;
    border-radius: 15px;
    position: absolute;
    color: #EBF2F8;
    left: calc(50% - 100px);
    top: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer h2 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.8px;
    font-weight: 500;
}

@media (max-width: 1340px) {
    .container {
        width: 345px;
    }
}
