
.container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-left: 150px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}