.container {
    background-color: #C8DCEA;
    width: 400px;
    height: 245px;
    border-radius: 30px;
    position: relative;
    padding: 30px 20px;
    box-shadow: 0 4px 16px rgba(44, 74, 106, 0.18);
}

.flik {
    position: absolute;
    right: -17px;
    bottom: -6px;
    width: 37px;
    height: 31px;
    background-image: url("/flik.png");
}

.message {
    font-size: 21px;
    margin: 0;
    line-height: 1.5;
    color: #1A2E42;
}

.userName {
    position: absolute;
    top: -38px;
    color: #6B8BA4;
    left: 10px;
    letter-spacing: 0.6px;
    font-weight: 600;
    font-size: 18px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        min-height: 120px;
    }

    .message {
        font-size: 18px;
    }
}
