.container {
    background-color: #E9E9EB;
    width: 400px;
    height: 245px;
    border-radius: 30px;
    position: relative;
    padding: 30px 20px;
} 

.flik {
    position: absolute;
    right: -17px;
    bottom: -6px;
    width: 37px;
    height: 31px;
    background-image: url("/flik.png");
}

.message {
    font-size: 35px;
    margin: 0;
}

.userName {
    position: absolute;
    top: -38px;
    color: #8A898E;
    left: 10px;
    letter-spacing: 0.6px;
}
