
.menuButton {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

.active {
    color: #F18302;
    text-decoration: underline;
    font-weight: bold;
}

.container { 
    display: flex;
    padding: 10px;
}
