.container {
    width: 100vw;
    height: calc(100vh - 109px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.text {
    font-size: 45px;
    color: black;
    padding-bottom: 100px;
}