.container {
    width: 550px;
} 

.form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #373737;
    border-radius: 1em;
    background-color: #E9E9EB;
    margin-bottom: 20px;
  }

.button {
    width: 130px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    margin-left: 200px;

}

.message {
    vertical-align: top;
    height: 250px;
    width: 380px;
    background-color: #e6e6e6;
    margin-left: 81px;
    border-style: solid;
    border-width: 2px;
}

.label {
    display: flex;
    font-size: small;
    color: rgb(62, 62, 62);
    margin-left: 81px;
}

.input {
    width: 380px;
    height: 25px;
    background-color:  #e6e6e6;
    margin-left: 81px;
    border-style: solid;
}


